body {
  background-color: rgb(194, 241, 245);
  margin: 0 auto;
}

h1 {
  color: darkblue;
  font-weight: bold;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

li {
  font-weight: 900;
}
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
