h1 {
  color: darkblue;
  font-weight: bold;
}
h2 {
  color: blue;
}

p {
  color: black;
}

li {
  color: brown;
}

h3 {
  color: brown;
}

section {
  text-align: center;
  border: 1px solid red;
}

.heading-border {
  border: 3px dashed grey;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1 {
  color: lime;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  border: 1px salmon (232, 161, 30);
  width: 400px;
  min-height: 200px;
  margin: 0 auto;
  /* horizontal centering */
  padding-left: 30px;
  padding-top: 40px;
  padding: 20px 30px 40px 50px;
  padding: 20px margin- bottom 20px;
  border-bottom: 2px dashed green;
}

/*
curly braces {}
parentheses < >
square brackets []
round brackets ()
colon::after
semicolum ;
syntax: rules of the lang

*/
